.git
.github
.env
.env.*
!.env.example
_reference
tests
var
vendor
*.md
!composer.json
!composer.lock
phpunit.xml.dist
phpstan.neon
.php-cs-fixer.dist.php
.php-cs-fixer.cache
.phpunit.result.cache
docker-compose.yml
Dockerfile.dev
